@font-face {
    font-family: "genwanlatin0927251";
    font-weight: 400;
    font-style: normal;
    src: url("https://freight.cargo.site/m/K2650652186881166999210129014453/genwan_latin_092725_1-r-webfont.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "thyssenkrupp Square Dot";
    font-weight: 400;
    font-style: normal;
    src: url("https://freight.cargo.site/m/P2540767472550738150038874537653/thyssenkrupp-Square-Dot-Matrix.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Gen Wan Min2 T C";
    font-weight: 400;
    font-style: bold;
    src: url("https://freight.cargo.site/m/E2539229496219093883906941173429/GenWanMin2TC-R.woff2") format("woff2");
   
  }
  
  html {
      --mobile-scale: 1.4;
      --mobile-padding-offset: 0.5;
  }
  
  body {
      --swatch-1: rgba(0, 0, 0, 0.85);
      --swatch-2: rgba(0, 0, 0, 0.75);
      --swatch-3: rgba(0, 0, 0, 0.6);
      --swatch-4: rgba(0, 0, 0, 0.4);
      --swatch-5: rgba(0, 0, 0, 0.25);
      --swatch-6: #ffffff;
      --swatch-7: #491111;
  }
  
  body.mobile {
  }
  
  ::selection {
    color: #ffffff;
    background-color: #491111;     
    filter: invert(1);
  }
  
  /* For Firefox compatibility */
  ::-moz-selection {
    color: #ffffff;
    background-color: #491111;      
    filter: invert(1);
  }
  
  a:active,
  .linked:active,
  .zoomable::part(media):active {
      opacity: 0.7;
  }
  
  .page a.active {
      
  }
  
  sub {
      position: relative;
      vertical-align: baseline;
      top: 0.3em;
  }
  
  sup {
      position: relative;
      vertical-align: baseline;
      top: -0.4em;
  }
  
  .small-caps {
      font-variant: small-caps;
      text-transform: lowercase;
  }
  
  ol {
      margin: 0;
      padding: 0 0 0 2.5em;
      list-style-type: decimal-leading-zero;
  }
  
  ul {
      margin: 0;
      padding: 0 0 0 2.0em;
  }
  
  ul.lineated {
      margin: 0;
      padding: 0;
      list-style-type: none;
      margin: 0 0 0 3em;
      text-indent: -3em;
  }
  
  blockquote {
      margin: 0;
      padding: 0 0 0 2em;
  }
  
  hr {
      background: rgba(255, 255, 255, 255);
      border: 0;
      height: 0.5px;
      display: block;
      margin-top: 0.4rem;
      margin-bottom: 0.5rem;
  }
  
  .content {
      border-color: rgba(0,0,0,.85);
  }
  
  bodycopy {
      font-size: 1.80rem;
      font-weight: 400;
      color: #491111;
      font-family: Gen Wan Min2 T C;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: 0em;
      display: block;
      -webkit-text-stroke: .8px ; 
  }
  
  
  
  .mobile bodycopy {
      font-size: 1.65rem;
  }
  
  bodycopy a {
      color: #491111;
      border-bottom: 0px solid rgba(127, 127, 127, 0.2);
      text-decoration: none;
  }
  
  bodycopy a:hover {
  }
  
  h1 {
      font-family: genwanlatin0927251;
      font-style: normal;
      font-weight: 400;
      margin: 0;
      font-size: 24rem;
      line-height: 1;
      color: #ffffff;
      letter-spacing: 0;
       -webkit-text-stroke: 0px ; /* Sets the outline width and color */
  }
  
  .mobile bodycopy {
      font-size: 1.5rem;
  }
  
  .mobile h1 {
      font-size: 14rem;
  }
  
  h1 a {
      color: #ffffff;
      text-decoration: none;
  }
  
  h1 a:hover {
  }
  
  h2 {
      font-family: genwanlatin0927251;
      font-style: normal;
      font-weight: 400;
      margin: 0;
      color: #ffffff;
      font-size: 2.3rem;
      line-height: 1.4;
      letter-spacing: 0.060em;
      border-width: 0rem;
      border-color: rgba(0,0,0,0.85);
      border-style: solid;
      display: inline-block;
       -webkit-text-stroke: 0px ; /* Sets the outline width and color */
  
  }
  
  .mobile h2 {
      font-size: 1.9rem;
  }
  
  h2 a {
      color: #ffffff;
      text-decoration: none;
  }
  
  h2 a:hover {
  }
  
  .caption {
      font-size: 1.5rem;
      font-weight: 400;
      color: #491111;
      font-family: Gen Wan Min2 T C;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: 0;
      
      
      
  }
  
  .mobile .caption {
      font-size: 1.25rem;
  }
  
  .caption a {
      text-decoration: underline;
      color: #491111;
  }
  
  .caption a:hover {
  }
  
  media-item .caption {
      margin-top: .5em;
  }
  
  gallery-grid .caption,
  gallery-columnized .caption,
  gallery-justify .caption {
      margin-bottom: 2em;
  }
  
  [thumbnail-index] .caption {
      text-align: center;
  }
  
  [thumbnail-index] .caption .tags {
      margin-top: 0.25em;
  }
  
  .page {
      justify-content: flex-start;
  }
  
  .page-content {
      padding: 2rem;
      text-align: left;
  }
  
  .mobile [id] .page-layout {
      max-width: 100%;
  }
  
  .page-layout {
      align-items: flex-start;
      max-width: 100%;
  }
  
  media-item::part(media) {
      border: 0;
      padding: 0;
  }
  
  .quick-view {
      height: 100%;
      width: 100%;
      padding: 3rem;
      margin-top: auto;
      margin-right: auto;
      margin-bottom: auto;
      margin-left: auto;
  }
  
  .quick-view-background {
      background-color: #ffffff;
  }
  
  .quick-view .caption {
      color: rgba(255, 255, 255, 1.0);
      padding: 20px 0;
      text-align: center;
      transition: 100ms opacity ease-in-out;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
  }
  
  .quick-view .caption-background {
      padding: 0.5rem 1rem;
      display: inline-block;
      background: rgba(0, 0, 0, 0.5);
      border-radius: .5rem;
      text-align: left;
      max-width: 50rem;
  }
  
  .mobile .quick-view {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 10px;
  }
  
  .mobile .quick-view .caption {
      padding: 10px 0;
  }
  
  .button-4 {
      --text-style: "button 4";
      font-size: 1.2rem;
      font-weight: 400;
      font-family: Gen Wan Min2 T C;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: 0;
      color: #ffffff;
      display: inline-block;
      border-color: #ffffff;
      border-style: solid;
      border-radius: 999rem;
      padding-top: 0.2rem;
      padding-right: 1.1rem;
      padding-bottom: 0.3rem;
      padding-left: 1.1rem;
      border-width: 0.1rem;
      background: rgba(0, 0, 0, 0.2);
      z-index: 999;
  }
  
  .button-4 a {
      color: #ffffff;
      text-decoration: none;
  }
  
  .button-4 a:hover {
      
  }
  
  .button-4 a.active {
      color: rgba(0, 0, 0, 0.85);
      text-decoration: none;
  }
  
  .square-dot-matrix- {
      --text-style: "Square Dot-Matrix";
      font-size: 3.5rem;
      font-weight: 400;
      color: #491111;
      font-family: thyssenkrupp Square Dot;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 0;
      display: block;
       -webkit-text-stroke: 0px ; /* Sets the outline width and color */
  }
  
  .square-dot-matrix- a {
      color: #491111;
      border-bottom: 0px solid rgba(127, 127, 127, 0.2);
      text-decoration: none;
  }
  
  .square-dot-matrix- a:hover {
      
  }
  
  .header-3 {
      --text-style: "header 3";
      font-size: 2.1rem;
      font-weight: 400;
      color: #491111;
      font-family: Gen Wan Min2 T C;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: 0;
      display: block;
  }
  
  .mobile .header-3 {
      font-size: 1.65rem;
  }
  
  .header-3 a {
      color: #491111;
      border-bottom: 0px solid rgba(127, 127, 127, 0.2);
      text-decoration: none;
  }
  
  .header-3 a:hover {
      
  }
  
  .mobile .quick-view .caption-background {
      max-width: 100vw;
  }
  
  ::part(slideshow-nav) {
      --button-size: 30px;
      --button-inset: 20px;
      --button-icon-color: rgba(255, 255, 255, 0.9);
      --button-icon-stroke-width: 1.5px;
      --button-icon-stroke-linecap: none;
      --button-background-color: rgba(87, 87, 87, 0.35);
      --button-background-radius: 50%;
      --button-active-opacity: 0.7;
  }
  
  gallery-slideshow::part(slideshow-nav) {
      --button-inset: 15px;
  }
  
  .quick-view::part(slideshow-nav) {
  }
  
  .wallpaper-slideshow::part(slideshow-nav) {
  }
  
  .mobile ::part(slideshow-nav) {
      --button-inset: 10px;
  }
  
  .mobile .quick-view::part(slideshow-nav) {
      --button-inset: 25px;
  }
  
  shop-product {
      font-size: 1.2rem;
      max-width: 22rem;
      font-family: "Diatype Variable";
      font-style: normal;
      font-weight: 400;
      font-variation-settings: 'slnt' 0, 'MONO' 0;
      letter-spacing: 0em;
      margin-bottom: 1em;
  }
  
  shop-product::part(price) {
      color: rgba(255, 255, 255, 1);
      line-height: 1.1;
      margin-bottom: 0.5em;
  }
  
  shop-product::part(dropdown) {
      width: 100%;
      color: rgba(255, 255, 255, 1);
      border: 1px solid rgba(255, 255, 255, 0.27);
      background-color: rgba(0, 0, 0, 0.0);
      background-image: url(https://static.cargo.site/assets/images/select-line-arrows.svg);
      background-repeat: no-repeat;
      background-position: top 0em right .1em;
      line-height: 1.2;
      padding: 0.58em 2em 0.55em 0.9em;
      border-radius: 10em;
      margin-bottom: 0.5em;
  }
  
  shop-product::part(button) {
      background: rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 1);
      text-align: left;
      line-height: normal;
      padding: 0.5em 1em;
      cursor: pointer;
      border-radius: 10em;
  }
  
  shop-product::part(button):active {
      opacity: .7;
  }
  
  audio-player {
      --text-color: #ffffff;
      --text-padding: 0 1.2em 0 1.0em;
      --background-color: rgba(255, 255, 255, 0);
      --buffer-background-color: rgba(255, 255, 255, 0.075);
      --progress-background-color: rgba(255, 255, 255, 0.12);
      --border-lines: 1px solid rgba(255, 255, 255, 0.25);
      font-size: 1.2rem;
      width: 32rem;
      height: 2.75em;
      font-family: "Diatype Variable";
      font-style: normal;
      font-weight: 400;
      font-variation-settings: 'slnt' 0, 'MONO' 0;
      line-height: normal;
      letter-spacing: 0em;
      margin-bottom: 0.5em;
      border-radius: 10em;
  }
  
  audio-player::part(button) {
      --icon-color: #ffffff;
      --icon-size: 32%;
      --play-text: '';
      --pause-text: '';
      width: 3.15em;
      display: inline-flex;
      justify-content: center;
      cursor: pointer;
  }
  
  audio-player::part(play-icon){
      padding-left: 0.6em;
  }
  
  audio-player::part(pause-icon) {
      padding-left: 0.4em;
  }
  
  audio-player::part(progress-indicator) {
      border-right: 1px solid rgba(255, 255, 255, 0);
      height: 100%;
      cursor: ew-resize;
  }
  
  audio-player::part(separator) {
      border-right: var(--border-lines);
  }
  
  body.mobile audio-player {
      max-width: 100%;
  }